name: 'E2E test Terraform on Hetzner'

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]    

jobs:
  e2e-test:
    name: 'Terraform'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    env:
      TF_VAR_hetzner_token: ${{ secrets.HETZNER_TOKEN }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1    

    - name: Generate SSH keypair
      run: ssh-keygen -b 2048 -t rsa -f  ~/.ssh/id_rsa -q -N ""

    - name: Install kubectl
      run: ./test.sh kubectl
      working-directory: test      

    - name: Terraform Init
      run: terraform init
      working-directory: test

    - name: Provision clusters
      run: ./test.sh setup
      working-directory: test

      # Disable locking of statefile in case previous step was canceled, we
      # still want to clean up any resources created.
    - name: Teardown clusters
      if: ${{ always() }}      
      run: ./test.sh teardown
      working-directory: test
